<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XFindr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04CA8F021E83D0DD00E8C1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CA8F161E83D0DE00E8C1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CA8F211E83D0DE00E8C1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
